<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Semantic Analysis with Meaning Cloud</title>
    </head>

    <body>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <button type="submit">Submit</button>
                </form>
                <div class="ps">PS. N means negative and P means positive</div>
            </section>

            <section>
                <div class="container">
                    <strong id="results-label">Semantic Analysis Results</strong>
                    <div id="results"></div>
                </div>
            </section>
        </main>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
